<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="Regression" parallel="tests" thread-count="2"> -->
<suite name="Regression">
	<test name="android">
        <parameter name="deviceName" value="Pixel_3" />
        <parameter name="platformVersion" value="9.0" />
        <parameter name="IOSorAndroid" value="Android" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="systemPort" value="8210" />
        <classes>
            <class name="runner.RunTest">
            </class>
        </classes>
    </test>


<!-- iOS -->

    <!--<test name="iOS">
        <parameter name="deviceName" value="iPhone 11 Pro" />
        <parameter name="platformVersion" value="14.3" />
        <parameter name="IOSorAndroid" value="iphone" />
        <parameter name="udid" value="A10F16B0-D7D8-47BC-AC05-6252CD1C848F" />
        <parameter name="systemPort" value="8231" />
        <parameter name="wdaLocalPort" value="8100" />
        <classes>
            <class name="runner.RunTest"/>
        </classes>
    </test>-->



    </suite>